<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Responsive Form</title>
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet" />
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
	<link rel="stylesheet" href="/css/custom.css">
</head>

<body>
	<div class="container w-75 my-5 rounded shadow" style="background-color: rgb(104, 112, 106)" id="container">
		<div class="row align-items-stretch">
			<div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 "></div>
			<div class="col bg-white p-5">
				<div class="row justify-content-end">
					<div class="col-4">
						<img src="/images/logo.png" alt="" width="100" class="img-fluid" />
					</div>
				</div>

				<h2 class="fw-bold text-center py-5">Bienvenido</h2>
				<!--Login-->
				<form th:action="@{/save}" th:object=${persona} method="POST">
					<div class="mb-3">
						<label hidden for="id" class="form-label">Id</label>
						<input hidden th:field="*{id}" type="text" name="id" class="form-control" />
					</div>
					<div class="mb-3">
						<label for="nombre" class="form-label">Nombre</label>
						<input th:field="*{name}" type="text" class="form-control" name="nombre" />
					</div>
					<div class="mb-3">
						<label for="telefono" class="form-label">Telefono</label>
						<input th:field="*{telefono}" type="text" class="form-control" name="telefono" />
					</div>
					<div class="mb-3 form-check">
						<input type="checkbox" name="connected" class="form-check-input" />
						<label for="connected" class="form-check-label">Mantenerme Conectado</label>
					</div>

					<div class="d-grid">
						<button type="submit" class="btn btn-outline-dark">
							Agregar Persona
						</button>
					</div>

					<div class="my-3">
						<span>No tienes cuenta? <a href="#">Registrate</a></span> <br />
						<span><a href="#">Recuperar Password</a></span>
					</div>
					<!--Fin Login-->
					<!--Login con Redes Sociales-->
					<div class="container w-100 my-5">
						<div class="row text-center">
							<div class="col-12 pb-3">Iniciar Sesion</div>
						</div>
						<div class="row">
							<div class="col">
								<button class="btn btn-outline-dark w-100 m-1">
									<div class="row align-items-center">
										<div class="col-2 d-none d-md-block">
											<img src="/images/fb_icon-icons.com_65434.png" alt="" width="32" />
										</div>
										<div class="col-12 col-md-10 text-center">Facebook</div>
									</div>
								</button>
							</div>
							<div class="col">
								<button class="btn btn-outline-dark w-100 m-1">
									<div class="row align-items-center">
										<div class="col-2 d-none d-md-block">
											<img src="/images/google.png" alt="" width="32" />
										</div>
										<div class="col-12 col-md-10 text-center">Google</div>
									</div>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/popper.min.js"></script>
</body>

</html>